<%= turbo_frame_tag "search_results", target: "_top", refresh: "morph" do %>
  <% if links.present? || tags.present? %>
    <div id="search_results">
      <% if links.present? %>
        <h2>Links</h2>
        <% links.each do |link| %>
          <%= render "links/preview", link: link %>
        <% end %>
      <% end %>

      <% if tags.present? %>
        <h2>Tags</h2>
        <% tags.each do |tag| %>
          <p><%= link_to tag.name, tag, target: "_top" %> (<%= tag.links.count %>)</p>
        <% end %>
      <% end %>
    </div>
  <% elsif query.present? %>
    <p>No results found</p>
    <p>
      Don't see what you're looking for?
      Try <%= link_to "processing some links", unprocessed_links_path %> yourself, to make sure they have the correct tags!
    </p>
  <% end %>
<% end %>
