<%= turbo_frame_tag "search_results", target: "_top" do %>
  <% if links.present? || tags.present? %>
    <div id="search_results">
      <% if links.present? %>
        <h2>Links</h2>
        <% links.each do |link| %>
          <p><%= link_to link.title, link, data: { turbo_scroll: 'reset' } %></p>
          <% if link.notes.present? %>
            <p><%= link.notes %></p>
          <% end %>
        <% end %>
      <% end %>

      <% if tags.present? %>
        <h2>Tags</h2>
        <% tags.each do |tag| %>
          <p><%= link_to tag.name, tag, data: { turbo_scroll: 'reset' } %> (<%= tag.links.count %>)</p>
        <% end %>
      <% end %>
    </div>
  <% elsif query.present? %>
    <p>No results found</p>
  <% else %>
    <div id="selected_links">
      <h2>Latest links</h2>
      <% Link.last(3).each do |link| %>
        <p><%= link_to link.title, link, data: { turbo_scroll: 'reset' } %></p>
      <% end %>
    </div>

    <div id="selected_tags">
      <h2>Top tags</h2>
      <p>
        <% Tag.all.map {|t| [t.links.count, t]}.sort.last(10).reverse.each do |count, tag| %>
          <%= link_to tag.name, tag, data: { turbo_scroll: 'reset' } %> (<%= count %>)
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
