<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="not-prose max-w-[64rem]">
  <%= form_with model: @link, class: "flex flex-col space-y-4" do |form| %>
    <% if link.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
          <% link.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="mt-6">
      <%= form.label :url, "URL" %>
      <%= form.text_field :url %>
    </div>

    <div>
      <%= form.label :source_url, "Source URL" %>
      <%= form.text_field :source_url, aria: { describedby: "source-url-desc" }%>
      <p id="source-url-desc" class="text-sm text-italic">Social media post, or other source where this link was found. Optional.</p>

    </div>

    <div>
      <%= form.label :comment, "Comment (from source)" %>
      <%= form.text_area :comment, rows: 5 %>
    </div>

    <div>
      <%= form.label :published_at %>
      <%= form.datetime_field :published_at %>
    </div>

    <div>
      <fieldset>
        <legend>Source type</legend>

        <%= form.collection_check_boxes :source_type_ids,
              Tag.where(category: 'source_type').order(:name),
              :id, :humanized_name do |b| %>
          <div>
            <%= b.label(class: "inline-flex items-center") { b.check_box + b.text } %>
          </div>
        <% end %>
      </fieldset>
    </div>

    <div class="tag-combobox">
      <%= form.combobox :topic_ids,
            Tag.where(category: 'topic').order(:name),
            label: 'Topics',
            multiselect_chip_src: possibly_new_tag_chips_path,
            name_when_new: 'link[topic_ids]',
            mobile_at: "640px" %>
    </div>

    <div>
      <%= form.label :notes %>
      <%= form.text_area :notes, rows: 10, aria: { describedby: "notes-desc" } %>
      <p id="notes-desc" class="text-sm text-italic">Summarize the article, and add any important details.</p>
    </div>

    <div data-controller="archive" data-archive-url-value="<%= @link.url %>">
      <%= form.label :archive_url, "Archive URL" %>
      <%= form.text_field :archive_url,
            aria: { describedby: "archive-url-desc" },
            data: { 'archive-target': 'input' } %>
      <p id="archive-url-desc" class="text-sm">
        Archived copy of this link on <%= link_to 'archive.is', 'https://archive.is', target: "_blank" %>
        or <%= link_to 'web.archive.org', 'https://web.archive.org/', target: "_blank" %>.
      </p>
    </div>

    <div>
      <%= form.label :text %>
      <%= form.text_area :text, rows: 10, aria: { describedby: "text-desc" } %>
      <p id="text-desc" class="text-sm text-italic">The full text of the article, originally pulled automatically from the webpage. May be messy.</p>
    </div>

    <div>
      <fieldset class="">
        <legend>How useful does this seem as a reference or resource?</legend>
        <div>
          <%= form.radio_button :rating, 1 %>
          <%= form.label :rating_1, "Seems not very useful / seems like a bad source" %>
        </div>
        <div>
          <%= form.radio_button :rating, 10 %>
          <%= form.label :rating_9, "Might be very useful / seems like a great source" %>
        </div>
      </fieldset>
    </div>

    <div>
      <fieldset>
        <legend>Have you reviewed the link content, edited the tags, summarized in the Notes field, and made any other necessary changes?</legend>
        <%= form.check_box :processed %>
        <%= form.label :processed, "Yes, mark this link as Processed!" %>
      </fieldset>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
