<div id="<%= dom_id link %>">
  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= link.source_url %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= link.comment %>
  </p>

  <p>
    <strong>Archive url:</strong>
    <%= link.archive_url %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= link.text %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= link.published_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= link.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= link.notes %>
  </p>

</div>
