<div id="<%= dom_id link %>">
  <h1><%= link.title %></h1>
  <%= link_to link.url, link.url %>
  <% if link.archive_url %>
    (<%= link_to 'archive', link.archive_url %>)
  <% end %>

  <% if link.source_url %>
    <blockquote>
      <p>
        <%= link.comment %>
      </p>
    </blockquote>
    <figcaption>
      <p>
        Source: <%= link_to link.source_url, link.source_url %>
      </p>
    </figcaption>
  <% end %>

  <h2>Notes</h2>
  <p>
    <%= link.notes %>
  </p>


  <h2>Tags</h2>
  <p>
    <strong>Source types:</strong>
  </p>
  <ul>
    <% link.source_types.each do |tag| %>
      <li><%= link_to tag.name.humanize, tag %></li>
    <% end %>
  </ul>

  <p>
    <strong>Topics:</strong>
  </p>
  <ul>
    <% link.topics.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>

  <h2>Text</h2>
  <details>
    <summary>Expand full text</summary>
    <pre class="whitespace-pre-wrap bg-white font-sans text-black text-base">
      <strong>Text:</strong>
      <%= link.text %>
    </pre>
  </details>
  <br>
</div>
