<p><%= link_to 'Home', root_path %></p>

<h1>Editing link</h1>

<% if @link.archive_url.present? %>
  <p>View: <%= link_to "Open archived copy in a new tab", @link.archive_url, target: "_blank" %> (or <%= link_to "open the original", @link.url, target: "_blank" %>)</p>
<% elsif @link.url.present? %>
  <p>View: <%= link_to "Open this link in a new tab", @link.url, target: "_blank" %></p>
<% end %>

<%= render "form", link: @link %>

<div>
  <%= form_with url: import_link_path(@link) do |form| %>
    <%= form.submit 'Run automatic import', class: 'btn-danger', data: { turbo_confirm: 'Are you sure? Existing information will be overwritten! This is destructive!' } %>
  <% end %>
</div>

<div>
  <%= link_to "Show this link", @link %> |
  <%= link_to "View all links", links_path %> |
  <%= link_to "View unprocessed links", unprocessed_links_path %>
</div>
