<h1>Editing link</h1>

<%= render "form", link: @link %>

<div>
  <%= form_with url: import_link_path(@link) do |form| %>
    <%= form.submit 'Run automatic import', class: 'btn-danger', data: { turbo_confirm: 'Are you sure? Existing information will be overwritten! This is destructive!' } %>
  <% end %>
</div>

<div>
  <%= link_to "Show this link", @link %> |
  <%= link_to "Back to links", links_path %>
</div>
