<%= content_for :title, "Links" %>

<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<div id="links">
  <% @links.order(:created_at).reverse.each do |link| %>
    <%= render "preview", link: link %>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Import new links", import_links_path %> |
  <%= link_to "Manually add new link", new_link_path %>
<% end %>
