<p style="color: green"><%= notice %></p>

<p><%= link_to 'Home', root_path %></p>

<%= render @link %>

<div>
  <%= link_to "Edit this link", edit_link_path(@link) %> |
  <%= link_to "View all links", links_path %> |
  <%= link_to "View unprocessed links", unprocessed_links_path %>
</div>

<div>
  <br/>
  <%= button_to "Destroy this link", @link, method: :delete, class: 'btn-danger', form: { data: { turbo_confirm: 'Are you sure?' } } %>
</div>
