<%= content_for :title, "Tags" %>

<p style="color: green"><%= notice %></p>

<p><%= link_to 'Home', root_path %></p>

<h1>Tags</h1>

<h2>Source types</h2>

<div id="source_types">
  <% @tags.where(category: 'source_type').order(:name).each do |tag| %>
    <p>
      <%= source_type_icon(tag.name) %>
      <%= link_to tag.name, tag %> (<%= tag.links.count %>)
    </p>
  <% end %>
</div>

<h2>Topics</h2>

<div id="topics">
  <% @tags.where(category: 'topic').order(:name).each do |tag| %>
    <p>
      <%= link_to tag.name, tag %> (<%= tag.links.count %>)
    </p>
  <% end %>
</div>

<div>
  <p>
    Don't see what you're looking for?
    Try <%= link_to "processing some links", unprocessed_links_path %> yourself, to make sure they have the correct tags!
  </p>
</div>
