<p style="color: green"><%= notice %></p>

<p><%= link_to 'Home', root_path %></p>

<h1>Tags</h1>

<h2>Source types</h2>

<div id="source_types">
  <% @tags.where(category: 'source_type').order(:name).each do |tag| %>
    <p>
      <%= link_to tag.name, tag %> (<%= tag.links.count %>)
    </p>
  <% end %>
</div>

<h2>Topics</h2>

<div id="topics">
  <% @tags.where(category: 'topic').order(:name).each do |tag| %>
    <p>
      <%= link_to tag.name, tag %> (<%= tag.links.count %>)
    </p>
  <% end %>
</div>
