<!DOCTYPE html>
<html>
  <head>
    <title id="page-title"><%= ("#{yield(:title)} | " unless yield(:title).blank?).to_s + site_name %></title>

    <meta name='robots' content='noindex,nofollow' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= combobox_style_tag %>
    <%= stylesheet_link_tag "combobox", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>

    <main class="container w-md mx-auto mt-12 px-5 mb-28">
      <div class="prose max-w-none">
        <p class="header">
          <span>
            <%= link_to 'Home', root_path %>
          </span>
          <% if current_user %>
            <span><%= link_to "Sign out #{current_user.email}", users_sign_out_path %></span>
          <% else %>
            <span><%= link_to 'Sign in', users_sign_in_path %></span>
          <% end %>
        </p>

        <% if flash[:notice] %>
          <p style="color: green"><%= notice %></p>
        <% end %>
        <% if flash[:alert] %>
          <p style="color: red"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
